@charset "UTF-8";

body {
  font-size: 15px;
  line-height: 1.8;
  letter-spacing: 1px;
  word-break: break-all;
  color: #333;
}

a {
  text-decoration: none;
  color: #1ca9e3;
}

li {
  list-style: none;
}

.nav_all {
  width: 100%;
  position: fixed;
  background-color:rgb(249 247 239);
  box-shadow: 0 3px 3px 0  rgb(0 0 0 / 20%);
}

.nav_list {
  display: flex;
  justify-content: center;
  align-items: center;

}

.nav_item {
  font-weight: bold;
  font-size: 18px;
  padding: 0 24px;
}

.nav_link {
  display: inline-block;
  padding: 20px 0;
  color: #333;
}

.nav_link:hover {
  color: rgb(106 119 59);
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 700px;
  background-color: rgb(205 150 73);
}

.top_title {
  font-size: 60px;
  font-weight: bold;
  color: rgb(28 57 82);
  letter-spacing: 5px;
}

.top_subtitle {
  font-size: 20px;
  font-weight: bold;
  color:  rgb(28 57 82);
  letter-spacing: 5px;
}

.section {
  background-color: rgb(249 247 239);
  padding: 120px 0;
}

.section:nth-of-type(odd) {
  background-color: #e7e3e3;
}
.inner {
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 40px;
}

.font1 {
  text-shadow: 5px 5px 5px rgb(0 0 0 / 50%);
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 5px;
  color:rgb(82 44 89);
  margin-bottom: 60px;
}

.font2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: bold;
}

.font3 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.font4 {
  width: 60%;
  margin: 0 auto;
}

.about_img {  
  display: block;
  width: 200px;
  height: 300px;
  margin: 0 auto 30px;
  border-radius: 50%;
  box-shadow: 0 0 50px 0 #d9d9d9;
}

.skill_item {
  display:flex;
  margin: 0 150px 50px 150px;
}

.skill_img {
  margin-right: 20px;
}

.skill_img img {
  width: 60px;
}

.work_all {
  display: flex;
  flex-wrap: wrap;
}

.work_item {
  flex: 32%;
  margin-right: 2%;
}

.work_item:nth-of-type(3n) {
  margin-right: 0;
}

.work_item a img {
  width: 100%;
}

.work_body p {
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 6px;
}

.contact_list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact_list li {
  list-style: none;
}

.contact_item {
  width: 60px;
}

.contact_mail {
  margin-top: 10px;
  text-align: center;
}

footer {
  background-color: #333;
}

.footer .inner {
  padding: 30px;
}

.copyright {
  font-size: 13px;
  text-align: center;
  color: #fff;
}